@model SCA.Model.PlanoSaude
@{
    ViewBag.Title = "Editar Modelo";
}
<style>
    #tableUsuario tr td {
        padding: 5px 5px 5px 5px;
    }

    .error {
        color: #a94442;
    }

    .tablespc tr td {
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    span.font {
        font-size: 24px;
        font-weight: 300;
        color: #333;
    }
</style>


<h2>Editar Plano de Saúde</h2>

<div class="content">

    @using (Html.BeginForm("Edit", "PlanoSaude", FormMethod.Post, htmlAttributes: new { @id = "planoSaude" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdPlanoSaude)
        @Html.HiddenFor(model => model.Licencas.IdLicenca)
        @Html.HiddenFor(model => model.Persisted)

        <table class="CadPro">
            <tr>
                <td>Descrição</td>
                <td>
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "input-pdr", @style = "width:240px" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>Licença</td>
                <td>
                    @Html.DropDownListFor(model => model.Licencas, ViewBag.Licencas as SelectList, "Selecione uma Licença", htmlAttributes: new { @class = "select-pdr drop-down", @style = "width:240px" })
                    @Html.ValidationMessageFor(model => model.Licencas.IdLicenca, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <input type="submit" value="Salvar" class="btn btnGreen" style="width: 85px; height: 34px; margin-left: 160px" />
                    <a href='@Url.Action("/", "PlanoSaude")'>
                        <input type="button" class="btn btnWhite dropdown-toggle" style="width: 85px; height: 34px;" value="Cancelar" />
                    </a>
                </td>

            </tr>
        </table>
    }


</div>


<script>

    @if (@Model.Licencas != null)
    {
        <text>
    $("#Licencas").val(@Model.Licencas.IdLicenca);
    </text>
    }


</script>